    
body{
    /* Photo by Hannah Busing on Unsplash */
    background-image: url(image/hannah-busing-716290-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    font-family: 'Abril Fatface', cursive;} 
.body2{
    background-image: url(image/ian-schneider-108618-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron{
    background-color: transparent!important;
    text-align: center;
    margin-top: 61px;
}
.lead {
    color: white;
    font-size: 40px!important;
    font-family: 'Cormorant Garamond', serif;


}
p{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;

}
.display-4{
    color: red;
    font-family: 'Abril Fatface', cursive;
    font-size: 100px!important;
}
mark.red{
    color: red;
    background: none;

}
nav.bg-light{
    background-color: transparent!important;
}
mark.black{
    color: black;
    background: none;
}
.container{
    width: 600px;
}
h2{
    color: red;
}
h3{
    color: red;
}
.chosen-select{
    text-align: center;
}
h4{
    color: white;
}
.display-5{
    color: red;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px!important;
}
.btn-block{
    margin-top: 9px;
}